* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.play{
    
    background-image: url('/Users/egor/Documents/Учеба/JavaScript/Семинар_11.2/img/play.svg');
    width: 50px;
    height: 50px; 
    display: inline-block;
}
.pause{
    
    background-image: url('/Users/egor/Documents/Учеба/JavaScript/Семинар_11.2/img/pause.svg');
    width: 50px;
    height: 50px; 
    display: inline-block;
}
.stop{
    
    background-image: url('/Users/egor/Documents/Учеба/JavaScript/Семинар_11.2/img/stop.svg');
    width: 50px;
    height: 50px; 
    display: inline-block;
}

/*
.play {
    background-image: url('img/play.svg');
    height: 100px;
    background-repeat: no-repeat;
}
*/